<div class="bg-platalight text-plomo rounded-lg px-8 mt-8 flex flex-col">
  <div class="flex justify-between pt-7">
    <p class="text-H6 font-semibold tracking-normal">CART ({{carrito.length}})</p>
    <p class="text-body font-medium text-marron hover:underline hover:cursor-pointer" (click)="vaciarCarrito()">Remove all</p>
  </div>
  <div *ngFor="let item of carrito, let i = index" class="pt-7">
    <div class="flex items-center w-auto justify-between">
      <div class="flex items-center space-x-4 text-body font-semibold">
        <div>
          <img src="{{item.imagen}}" alt="" class="w-[64px] h-[64px] rounded-lg">
        </div>
        <div class="flex flex-col">
          <p>{{item.nombre}}</p>
          <p class="text-platadark">{{item.precio | currency}} </p>
        </div>
      </div>
      <div>
        <div class="h-8 w-[95px] bg-plata flex justify-around items-center text-subtitle">
          <div class="text-platamedium hover:cursor-pointer" (click)="restarCantidad(item.id)">-</div>
          <div class="font-semibold">{{item.cantidad}}</div>
          <div class="text-platamedium hover:cursor-pointer" (click)="aumentarCantidad(item.id)">+</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center pb-6 pt-7">
    <p class="text-body text-platamedium font-medium">TOTAL</p>
    <p class="text-body text-plomo font-semibold">{{total | currency}}</p>
  </div>
  <div *ngIf="carrito.length > 0" routerLink="/checkout" class="h-12 w-full mb-7 bg-marron hover:bg-beige hover:cursor-pointer text-subtitle
    tracking-wide font-medium text-platalight text-center pt-3" (click)="clickOutsideCart()">
    CHECKOUT
  </div>
</div>
