<div class="relative">
  <div *ngIf="showBg" class="bg-black opacity-60 h-full w-full bg-cover absolute z-20" (click)="clickOutsideCart()"></div>
  <header class="bg-black md:px-10 xl:px-40 text-white w-full">
    <app-header></app-header>
  </header>

  <main class="mt-16 md:mt-32 flex flex-col items-center" (click)="outsideHamMenu()">
    <section class="flex flex-col items-center md:space-y-32 xl:space-y-40">
      <div class="flex flex-col w-[327px] md:w-[689px] xl:w-[1110px]">
        <div class="md:flex justify-between items-center">
          <div class="">
            <img src="../../../assets/product-zx7-speaker/desktop/image-product.jpg" class="h-[560px] hidden xl:block rounded-lg">
            <img src="../../assets/product-zx7-speaker/tablet/image-product.jpg" alt="" class="h-[480px] hidden md:block xl:hidden rounded-lg">
            <img src="../../assets/product-zx7-speaker/mobile/image-product.jpg" alt="" class="h-[327px] md:hidden rounded-lg">
          </div>
          <div>
            <h3 class="text-H4 text-plomo font-semibold tracking-normal xl:text-H2 mt-6">ZX7 <br>SPEAKER</h3>
            <P class="text-body text-platadark font-normal my-6 w-[327px] md:w-[auto]">
              Stream high quality sound wirelessly with <br class="xl:hidden">minimal to no loss. <br class="hidden xl:block">The ZX7 speaker uses
              <br class="xl:hidden">high-end audiophile components that<br>represents
              the top of the line powered <br class="md:hidden">speakers <br class="hidden md:block xl:hidden">for home <br class="hidden xl:block">or studio use.
            </P>
            <p class="text-H6 font-semibold tracking-wide pb-6">$ 3,500</p>
            <div class="flex justify-start space-x-4">
              <div class="h-12 w-[120px] bg-plata flex justify-around items-center text-subtitle">
                <div class="text-platamedium hover:cursor-pointer" (click)="restarContador()">-</div>
                <div class="font-semibold">{{contador}}</div>
                <div class="text-platamedium hover:cursor-pointer" (click)="aumentarContador()">+</div>
              </div>
              <div (click)="agregarProducto(5, contador)" class="h-12 w-40 bg-marron hover:bg-beige hover:cursor-pointer text-subtitle tracking-wide font-medium text-platalight text-center pt-3">
                ADD TO CART
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col xl:flex-row text-start mt-8 md:mt-0 xl:mt-20 xl:space-x-24 ">
          <div class="xl:w-[635px]">
            <h4 class="text-H4 text-plomo font-semibold tracking-normal mt-20 mb-6">FEATURES</h4>
            <p class="text-body text-platadark text-left font-medium">
              Reap the advantages of a flat diaphragm <br class="md:hidden">tweeter cone. This provides a fast response <br class="md:hidden">rate <br class="hidden xl:block">and
              <br class="hidden md:block xl:hidden">excellent high frequencies that lower <br class="md:hidden">tiered bookshelf speakers cannot provide. The <br class="md:hidden xl:block">
              woofers are <br class="hidden md:block xl:hidden">made from aluminum that <br class="md:hidden">produces a unique and clear sound. XLR inputs <br class="md:hidden">allow
              <br class="hidden xl:block">you to connect to a <br class="hidden md:block xl:hidden">mixer for more <br class="md:hidden">advanced usage. </p
            >
            <p class="text-body text-platadark text-left font-medium mt-4">The ZX7 speaker is the perfect blend of stylish <br class="md:hidden">design and high performance. It houses an
              <br class="md:hidden xl:block">encased <br class="hidden md:block xl:hidden">MDF wooden enclosure which <br class="md:hidden">minimises acoustic resonance. Dual
              <br class="md:hidden">connectivity <br class="hidden xl:block">allows pairing <br class="hidden md:block xl:hidden">through bluetooth <br class="md:hidden">or traditional optical
              and RCA input. Switch <br class="md:hidden">input sources <br class="hidden xl:block">and control volume at <br class="hidden md:block xl:hidden">your <br class="md:hidden">
              finger tips with the included wireless remote. <br class="md:hidden">This versatile <br class="hidden xl:block">speaker is equipped to deliver an <br class="xl:hidden">authentic
              listening experience.</p
            >
          </div>

          <div class="flex flex-col items-start md:flex-row md:space-x-48 xl:space-x-0 xl:flex-col">
            <h4 class="text-H4 text-plomo font-semibold tracking-normal mt-20 mb-6">IN THE BOX</h4>
            <div class="text-body font-medium md:pt-20 space-y-2 xl:pt-0">
              <div class="flex space-x-4">
                <p class="text-marron font-semibold">1x</p>
                <p class="text-platadark">Headphone Unit</p>
              </div>
              <div class="flex space-x-4">
                <p class="text-marron font-semibold">2x</p>
                <p class="text-platadark">Replacement Earcups</p>
              </div>
              <div class="flex space-x-4">
                <p class="text-marron font-semibold">1x</p>
                <p class="text-platadark">User Manual</p>
              </div>
              <div class="flex space-x-4">
                <p class="text-marron font-semibold">1x</p>
                <p class="text-platadark">3.5mm 5m Audio Cable</p>
              </div>
              <div class="flex space-x-4">
                <p class="text-marron font-semibold">1x</p>
                <p class="text-platadark">Travel Bag</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-4 mt-20 md:hidden">
          <img src="../../../assets/product-zx7-speaker/mobile/image-gallery-1.jpg" alt="" class="rounded-lg">
          <img src="../../../assets/product-zx7-speaker/mobile/image-gallery-2.jpg" alt="" class="rounded-lg">
          <img src="../../../assets/product-zx7-speaker/mobile/image-gallery-3.jpg" alt="" class="rounded-lg">
        </div>
        <div class="md:flex flex-row justify-between items-center space-x-5 mt-40 hidden">
          <div class="flex flex-col">
            <img src="../../../assets/product-zx7-speaker/tablet/image-gallery-1.jpg" alt="" class="rounded-lg xl:hidden mb-5 xl:mb-8">
            <img src="../../../assets/product-zx7-speaker/tablet/image-gallery-2.jpg" alt="" class="rounded-lg xl:hidden">
            <img src="../../../assets/product-zx7-speaker/desktop/image-gallery-1.jpg" alt="" class="rounded-lg hidden xl:block mb-5 xl:mb-8">
            <img src="../../../assets/product-zx7-speaker/desktop/image-gallery-2.jpg" alt="" class="rounded-lg hidden xl:block">
          </div>
          <div>
            <img src="../../../assets/product-zx7-speaker/tablet/image-gallery-3.jpg" alt="" class="rounded-lg xl:hidden">
            <img src="../../../assets/product-zx7-speaker/desktop/image-gallery-3.jpg" alt="" class="rounded-lg hidden xl:block">
          </div>
        </div>
      </div>
    </section>
    <section class="flex flex-col items-center md:flex-row md:justify-center mt-20 md:w-[689px] md:space-x-3 md:mb-8 md:mt-24 xl:w-[1110px] xl:space-x-8 xl:mt-44 xl:px-10">
      <div class="h-40 w-[327px] rounded-lg bg-plata mt-24 relative flex flex-col items-center xl:h-48 xl:w-[350px]">
        <img src="../../assets/shared/desktop/image-category-thumbnail-headphones.png" alt="" class="w-36 absolute bottom-20 left-[85px] md:left-14 xl:w-56 xl:left-12">
        <span class="mt-20 text-body font-semibold tracking-wide xl:mt-24">HEADPHONES</span>
        <div class="flex justify-center mt-3 items-center">
          <a href="" class="text-overline text-platadark font-semibold tracking-wide mr-3">SHOP</a>
          <img src="../../assets/shared/desktop/icon-arrow-right.svg" alt="" class="h-[13px]">
        </div>
      </div>
      <div class="h-40 w-[327px] rounded-lg bg-plata mt-24 relative flex flex-col items-center xl:h-48 xl:w-[350px]">
        <img src="../../assets/shared/desktop/image-category-thumbnail-speakers.png" alt="" class="w-36 absolute bottom-20 left-[85px] md:left-14 xl:w-56 xl:left-12">
        <span class="mt-20 text-body font-semibold tracking-wide xl:mt-24">SPEAKERS</span>
        <div class="flex justify-center mt-3 items-center">
          <a href="" class="text-overline text-platadark font-semibold tracking-wide mr-3">SHOP</a>
          <img src="../../assets/shared/desktop/icon-arrow-right.svg" alt="" class="h-[13px]">
        </div>
      </div>
      <div class="h-40 w-[327px] rounded-lg bg-plata mt-24 relative flex flex-col items-center xl:h-48 xl:w-[350px]">
        <img src="../../assets/shared/desktop/image-category-thumbnail-earphones.png" alt="" class="w-36 absolute bottom-20 left-[85px] md:left-14 xl:w-56 xl:left-12">
        <span class="mt-20 text-body font-semibold tracking-wide xl:mt-24">EARPHONES</span>
        <div class="flex justify-center mt-3 items-center">
          <a href="" class="text-overline text-platadark font-semibold tracking-wide mr-3">SHOP</a>
          <img src="../../assets/shared/desktop/icon-arrow-right.svg" alt="" class="h-[13px]">
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>

